#container {
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
}

#possibleScores {
    width: 200px;
    margin: 50px 20px 50px 20px;
    visibility: hidden;
    cursor: pointer;
}

#scoresContainer {
    background-image: url( ../images/gameScores.png );
    width: 250px;
    height: 600px;
    background-repeat: no-repeat;
    float: left;
    margin: 0px auto;
    visibility: hidden;
}

#gameContainer {
    width: 900px;
    height: 600px;
    background-image: url( ../images/gameBg.png );
    background-repeat: no-repeat;
    float: right;
}

#game {
    margin: 30px 30px 30px 30px;
}

#chatLog {
    border: solid 1px #336699;
    height: 250px;
    width: 170px;
}

#chat {
    width: 170px;
    height: 380px;
    float: right;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h3.chatTekst {
    margin: 0px 5px 0px 5px;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

#text {
    border: solid 1px #336699;
    margin-top: 10px;
    width: 170px;
}

img.logo {
    width: 180px;
    height: 79px;
}

#logo {
    margin: 10px 0px 0px 25px;
    float: left;
}

#header {
    background-image: url( ../images/gameHeaderBg.png );
    background-repeat: no-repeat;
    width: 1150px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.headertekst {
    margin: 35px 35px 0px 0px;
    float: right;
    color: #FFFFFF;
}

span.luck {
    font-weight: bold;
    color: #FFFF00;
}

.dice {
    width: 60px;
    height: 60px;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
}

textarea {
    font-family: arial, sans-serif;
    font-size: 12px;
}

html {
    background-image: url( ../images/background.png );
    background-repeat: no-repeat;
    color: #FFFFFF;
}

#btnStart, #btnRoll, #btnChat {
    background-color: #ffffff;
    color: #006600;
    border-color: #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

#btnChat {
    margin-top: 10px;
    width: 170px;
}

body {
    text-align: center;
}

#p1table, #p2table, #p3table, #p4table {
    width: 20px;
    display: table-cell;
    visibility: hidden;
}

#p1table {
    background-color: #006633;
}

#p2table {
    background-color: #007e3a;
}

#p3table {
    background-color: #00a755;
}

#p4table {
    background-color: #3bb676;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:active {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
    color: #00CC00;
}