#container {
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height:600px;
}

#possibleScores {
	width:200px;
	float:left;
	margin: 0 auto;
	visibility: hidden;
}

#game {
	width:700px;
	float:right;
}

#chatLog {
	border: solid 1px #336699;
	height:250px;
	width:170px;
}

#chat{
	width:170px;
	height:380px;
	float:right;
}

h3.chatTekst{
	margin:0px 5px 0px 5px;
}

h3{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}

#text {
	border: solid 1px #336699;
	margin-top:10px;
	height:50px;
	width:170px;
}

.dice {
	width: 20px;
	height: 20px;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #000000;
	padding: 2px;
}

textarea {
	font-family: arial, sans-serif;
	font-size: 12px;
}

html{
	background-image:url(../images/background.png);
	background-repeat:no-repeat;
	color:#FFFFFF;
}

#btnStart, #btnRoll, #btnChat {
	background-color:#ffffff;
	color:#006600;
	border-color:#336699;
  	font-family:Arial, Helvetica, sans-serif;
  	font-size:10pt;
  	font-weight:bold;
}

#btnChat {
	margin-top:10px;
	width:170px;
}

a:link {text-decoration: underline; color:#FFFFFF;}
a:visited {text-decoration: underline; color:#FFFFFF;}
a:active {text-decoration: underline; color:#FFFFFF;}
a:hover {text-decoration: underline; color:#00CC00;}

a.back:link {text-decoration: none; color:#FFFF00;}
a.back:visited {text-decoration: none; color:#FFFF00;}
a.back:active {text-decoration: none; color:#FFFF00;}
a.back:hover {text-decoration: underline; color:#FFFF00;}