<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <!-- Filters -->
    <filter>
        <filter-name>CreateModelFilter</filter-name>
        <filter-class>be.kdg.yahtzee.filters.CreateModelFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CreateModelFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PlayerFilter</filter-name>
        <filter-class>be.kdg.yahtzee.filters.PlayerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PlayerFilter</filter-name>
        <url-pattern>/player/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>be.kdg.yahtzee.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.bundles.LanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/bundles/LanguageServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePlayerServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.register.CreatePlayerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePlayerServlet</servlet-name>
        <url-pattern>/register/CreatePlayerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewGameServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.game.NewGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewGameServlet</servlet-name>
        <url-pattern>/game/NewGameServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JoinGameServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.game.JoinGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinGameServlet</servlet-name>
        <url-pattern>/game/JoinGameServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaveGameServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.game.LeaveGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveGameServlet</servlet-name>
        <url-pattern>/game/LeaveGameServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.profile.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/profile/ChangeProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmChangeProfileServlet</servlet-name>
        <servlet-class>be.kdg.yahtzee.servlets.profile.ConfirmChangeProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmChangeProfileServlet</servlet-name>
        <url-pattern>/profile/ConfirmChangeProfileServlet</url-pattern>
    </servlet-mapping>

    <!-- JavaServer Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <!-- DWR (ajax) Servlet -->
    <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/appcontext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
</web-app>
